<div class="jumbotron">
    <h1 class="display-4">{{title}}</h1>
    <p class="lead">Gerencie seus alunos e livros aqui.</p>
    <hr class="my-4">
    <p>Use o menu de navegação para acessar as diferentes seções.</p>
</div>



